.container-custom {
  height: calc(100vh - 52px);
  overflow: auto;
}

.container-custom::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.container-custom::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container-custom::-webkit-scrollbar-track {
  background-color: transparent;
}


.columna {
  width: 100%;
}

@media(min-width: 768px) {
  .container-custom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .columna {
    width: calc(50% - 8px);
  }
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}