$naranja: #ff7300;
$azul: #1f1fe6;

.alertSucces{
  position: fixed;
  left: 30%;
width: 50%;
}
.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  background: #030340;
}
.loader {
  width: 100px;
  height: 100px;
  border: 3px solid $azul;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 3px solid;
  border-color: $naranja transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
