.fondo{
    background-color: #1B396A;
}
.encabezado{
    background-color:#1B396A;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.titulo_reporte{
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.cuerpo{
    color: #FFFFFF;
    text-align: justify;
}
