$fondo:#1B396A;

$blanco:#FFFFFF;
.nav_container{
    background: $fondo;
    height: 3.5rem;
    border: 1px solid #605b5b;
}

.Link {
    text-decoration: none;
    color:$blanco;
    font-size: medium;
    font-weight: bold;
}