$fondo:#000428;
$fondoGradiente1: -webkit-linear-gradient(to right, #004e92, #000428);
$fondoGradiente2: linear-gradient(to right, #004e92, #000428);
$naranja:#ff7300;
$valid:limegreen;
$invalid: red;
$inputColor:#BDBDBD;
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


.overlay {
height: 100vh;
background: $fondo;
background: $fondoGradiente1;
background: $fondoGradiente2;
display: flex;
align-items: center;
justify-content: center;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
}


.formulario {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 3% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background:$fondo;
}

.con {
    display: -webkit-flex;
    display: flex;

    padding-top: 3rem;
    padding-bottom: 3rem;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    gap: 2rem;
    margin: 1rem auto;
}

.errMsg{
    color: $naranja;
}
.head_form {
    margin: 2% auto 10% auto;
    text-align: center;
}

.head_form h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: $naranja;
}

.head_form p {letter-spacing: 0.05em;}

.input_item {
    background:$inputColor;
    color: $naranja;
    padding: 16.5px 5px 14.5px 5px;
    border-radius: 5px 0px 0px 5px;
}

.eye {
    background: $inputColor;
    color: $naranja;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 10px 21px 10px;
    border-radius: 0px 5px 5px 0px;
  
    float: right;
    position: relative;
    right: 1%;
    z-index: 5;
    
    cursor: pointer;
}

.form_input{
    width: 240px;
    height: 50px;
  
    margin-top: 2.2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
.txt_input{width: 250px;}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


.button_login {
    display: inline-block;
    color:$naranja;
  
    width: 280px;
    height: 3.5rem;
  
    padding: 0 20px;
    background: $fondo;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
    border: 1px solid $naranja;

}

.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}



button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
