$blanco:#FFFFFF;
$ancho:200px;
$alto:100%;
$borde:#c4ccde;
$fondo:#1B396A;
.container
{
    display: flex;
}
.sidebar{
    border-radius: 0 20px 20px 0;
    background: $fondo;
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid $borde;
    min-height: 390px;

    ul {
        list-style: none;
        padding: 1rem 2rem;
        li {
            margin-bottom: 1rem;
            a{
                text-decoration: none;
                color: $blanco;
            }
        }
    }
}

.outletDash{
    width: 100vw;
}

.modify{
border-radius: 0 20px 20px 0;
background: #000428;
width: 14rem;
height: calc(100vh - 52px);
border-right: 1px solid #c4ccde;
min-height: 390px;
position: fixed;
top: auto;
padding: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
display: none;
}