.disposicion {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 52px);
  min-height: 390px;
  overflow: auto;
  gap: 1rem;
}

.disposicion::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.disposicion::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.disposicion::-webkit-scrollbar-track {
  background-color: transparent;
}



.aviso {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  width: 90vw;
  font-size: 10rem;
  text-align: center;
  line-height: 1.5;
}