@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

$inputColor:#BDBDBD;
html,body{
  background: #4a4a4a;
  font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
}

input{
  background: $inputColor;
}